//@using Eldorado.TeamManager.Domain.Enums;
@model Eldorado.TeamManager.Web.Models.Collaborator.CollaboratorViewModel

<h3 class="page-title">@(Model.Collaborator.Id == 0 ? "Novo Colaborador" : "Editar Colaborador")</h3>

<form action="@Url.Action("Save")" method="post" class="row g-3">
    <input type="hidden" name="Id" value="@Model.Collaborator.Id" />

    <div class="col=md-6">
        <label class="form-label">Nome:</label>
        <input type="text" name="Name" value="@Model.Collaborator.Name" required class="form-control" />
    </div>

    <div>
        <label class="form-label">Data de Nascimento:</label>
        <input type="text" name="BirthDate" value="@Model.Collaborator.BirthDate" required class="form-control" />
    </div>

    <div class="col-md-6">
        <label class="form-label">RG:</label>
        <input type="text" name="RG" value="@Model.Collaborator.RG" required class="form-control" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Email:</label>
        <input type="text" name="Email" value="@Model.Collaborator.Email" required class="form-control" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Observações:</label>
        <input type="text" name="Observation" value="@Model.Collaborator.Observation" required class="form-control" />
    </div>

    <h4 class="page-title">Skills</h4>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Linguagens de Programação
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    //checkbox
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Banco de Dados
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    //checkbox
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Frameworks
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    //checkbox
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Ferramentas
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        //checkbox
                    </div>
                </div>
            </div>
        </div>
</form>