//@using Eldorado.TeamManager.Domain.Enums;
@model Eldorado.TeamManager.Web.Models.Collaborator.CollaboratorViewModel

<h3 class="page-title"><i class="fa fa-gear"></i>@(Model.Collaborator.Id == 0 ? "Novo Colaborador" : "Editar Colaborador")</h3>

<form action="@Url.Action("Save")" method="post" class="row g-3">
    <input type="hidden" name="Id" value="@Model.Collaborator.Id" />

    <div class="col=md-6">
        <label class="form-label">Nome:</label>
        <input type="text" name="Name" value="@Model.Collaborator.Name" required class="form-control" />
    </div>

    <div>
        <label class="form-label">Data de Nascimento:</label>
        <input type="text" name="BirthDate" value="@Model.Collaborator.BirthDate" required class="form-control" />
    </div>

    <div class="col-md-6">
        <label class="form-label">RG:</label>
        <input type="text" name="RG" value="@Model.Collaborator.RG" required class="form-control" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Email:</label>
        <input type="text" name="Email" value="@Model.Collaborator.Email" required class="form-control" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Observações:</label>
        <input type="text" name="Observation" value="@Model.Collaborator.Observation" required class="form-control" />
    </div>

    <h4 class="page-title">Skills</h4>

    <div class="col-md-2">
        <label class="form-label">Linguagens de Programação</label>
        <select class="form-select" name="Skil">/</select>

    /<div>
</form>