@model Eldorado.TeamManager.Web.Models.User.UserListViewModel

<h3 class="page-title"><i class="fa fa-gear"></i> Usuários</h3>


@if (TempData["userSave"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Ok!</strong> @TempData["userSave"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["userDelete"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Ok!</strong> @TempData["userDelete"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<a href='@Url.Action("Create")' class="btn btn-sm btn-secondary"><i class="fa fa-plus"></i> Novo Usuário</a>

<div class="m-2">
    <table id="table-users" class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>E-mail</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirsName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@(user.Active ? "Sim" : "Não")</td>
                <td>
                    <a href='@Url.Action("Edit", new { id = @user.Id })' class="btn btn-sm btn-secondary" title="Editar"><i class="fa fa-edit"></i></a>
                    <a href='@Url.Action("Delete", new { id = @user.Id })' class="btn btn-sm btn-secondary" title="Apagar"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@section scripts {
     <script type="text/javascript">
        $(document).ready(function () {
            initDataTable("table-users");
        });
     </script>
}